{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/e3kVDdJtJ8eWM7f+ijd" crossorigin="anonymous"> -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- SEO meta tags -->
    <meta name="description" content="Um projeto Django com Bootstrap.">
    <meta name="keywords" content="Django, Bootstssrap, projeto">



    <title>{% block title %}Django Project{% endblock %}</title>
</head>
<body>
<header>
    <!-- Add your site header here, such as a navbar -->
</header>

<main class="container">
    {% block content %}
    {% endblock %}
</main>

<footer>
    <!-- Add your site footer here, such as a copyright notice or links to other pages -->
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/e3kVDdJtJ8eWM7f+ijd" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gybBud6b5B83ThIdeaH7Nyc3zgIp0t7FSM8zjTcuT/0lc2aqsm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>